@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

body{
  background-image: url("./body-background.svg");
  /* background-color: #E3C09A; */
}
/* 
Бежевий: RGB(245, 245, 220)
Світло-рожевий: RGB(255, 192, 203)
Коричневий: RGB(165, 42, 42)
Світло-зелений (колір трави): RGB(144, 238, 144) 
(12,240,230)
#4AF00C
*/

.Header {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}

.TopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  font-family: 'Josefin Sans', sans-serif;
}

.TopBar h1 {
  margin-right: 10px; /* Відступ зправа між h1 і кнопкою */
}

.AddTask {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1%;
  font-size: 40px;
}

.AddTask:hover {
  transform: scale(1.2);
}

.Task {
  margin: 1%;
}

.TaskName{
  font-size: 30px;
  padding-top: 10px;
  margin-left: 1%;
}

.TaskDescription{
  font-size: 22px;
  margin: 1%;
  padding-bottom: 10px;
}

.edit-icon{
  float: right;
  cursor: pointer;
  transform: scale(1.5);
  padding: 1%;
  padding-right: 0.2%;
}

.delete-icon{
  float: right;
  cursor: pointer;
  transform: scale(1.5);
  padding: 1%;
}

.edit-icon:hover, 
.delete-icon:hover {
  opacity: 0.5;
}

.add-task-container {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.Task,
.no-task {
  background-image: url("./task-background.svg");
  border-radius: 1pc;
}

.Task,
.no-task,
.TaskDescription,
.TaskName {
  font-family: 'Playfair Display', serif;
}

.no-task {
  margin: 1%;
  padding: 1%;
  font-size: 35px;
}

.add-form {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 1px;
  align-items: start;
  margin-right: 100px;
}

.add-name {
  grid-column: 1;
  grid-row: 1;
}

.add-button {
  grid-column: 1;
  grid-row: 2;
  border-radius: 1pc;
}

.add-description {
  grid-column: 2;
  grid-row: 1 / span 2; 
  height: 40px;
}


.edit-form {
  background: none;
}

.edit-name,
.edit-description {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
}

.edit-description{
  width: 20%;
}

.edit-description {
  resize: none; 
}

.edit-button{
  height: 60px;
  width: 80px;
  border-radius: 1pc;
}