body{
  background-color: #8c9198;
}
.Header {
  background-color: #474a4f;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.TopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #63686f;
}

.TopBar h1 {
  margin-right: 10px; /* Відступ зправа між h1 і кнопкою */
}

.AddTask {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1%;
  font-size: 40px;
}

.AddTask:hover {
  transform: scale(1.2);
}