@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

body{
  background-color: #8c9198;
}

.Header {
  background-color: #474a4f;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.TopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #63686f;
  padding-left: 2%;
}

.TopBar h1 {
  margin-right: 10px; /* Відступ зправа між h1 і кнопкою */
}

.AddTask {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1%;
  font-size: 40px;
}

.AddTask:hover {
  transform: scale(1.2);
}

.Task {
  background-color: rgb(53, 53, 104);
  margin: 1%;
}

.TaskName{
  font-family: 'Agdasima', sans-serif;
  font-size: 30px;
  padding-top: 10px;
  margin-left: 1%;
}

.TaskDescription{
  font-family: 'Agdasima', sans-serif;
  font-size: 22px;
  margin: 1%;
  padding-bottom: 10px;
}

.edit-icon{
  float: right;
  cursor: pointer;
  transform: scale(1.5);
  padding: 1%;
  padding-right: 0.2%;
}

.delete-icon{
  float: right;
  cursor: pointer;
  transform: scale(1.5);
  padding: 1%;
}

.edit-icon:hover, 
.delete-icon:hover {
  opacity: 0.5;
}

.add-form {
  padding-right: 20px;
}

.add-task-container {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.add-form {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

/* 


.add-name,
.add-description {
  margin-bottom: 10px;
}

.add-task-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.add-task-button svg {
  margin-right: 5px;
}

*/